.frame{
    &_main{
        background-color: black;
        padding: 100px 50px;
        display: flex;
        column-gap: 5%;
        background-image: url("../public/algebra.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        video{
            width: 500px;
            height: 500px;
            background: orange;
        }
        &_board{
            border: 3px solid burlywood;
            height: 500px;
            width: 55%;
            background-image: url("../public/board.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            justify-content: start;
            align-items: center;
            padding: 40px;
            font-size: 60px;
            color: whitesmoke;
        }
    }
    
    &_controls{
        position: fixed;
        bottom: 90px;
        display: flex;
        width: 100%;
        button{
            width: 120px;
            font-size: large;
        }
    }
    &_checks{
        display: flex;
        column-gap: 10px;
        position: fixed;
        bottom: 20px;
        background-color: yellow;
    }

    h1{
        color:red;
    }
    button{
        cursor: pointer;
    }
}

